# 源码文件强制 LF
*.cpp text eol=crlf
*.h   text eol=crlf
*.c   text eol=crlf
*.py  text eol=crlf
*.txt text eol=crlf
*.md  text eol=crlf

# 点云和模型文件不要修改换行符
*.pcd -text
*.ply -text
*.obj -text
*.stl -text
*.bin -text